body {
    text-align: left;
    background-color: beige
    
}

.header {
   /* padding: 20px;  some padding */
    text-align: left; /* center the text */
    color: black; /* white text color */
  }

  /* Increase the font size of the <h1> element */
.header h1 {
    font-size: 40px;
  }

  .header h2 {
    font-size: 40px;
  }

 /* .htab {
    overflow: hidden;
      }*/
  
  /* Style the buttons that are used to open the tab content */
  .htab button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
   /* padding: 14px 16px;*/
    transition: 0.3s;
  }
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 15px;
    font-weight: bolder
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

/*Main Content*/
  * {
    box-sizing: border-box;
  }
  
  /* Column container */
  .row { 
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create three unequal columns that sits next to each other */
  /* Sidebar/left column */
  .leftside {
    flex: 20%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
  }
  
  /* Main column */
  .main { 
    flex: 60%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
    font-size: 20px;
    text-align: Center;
  }
/* Sidebar/right column */
  
  .rightside {
    flex: 20%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
  }

  .logintab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
 /*   padding: 14px 16px;*/
    transition: 0.3s;
    font-size: 15px;
    font-style: italic;
    color: red
  }

  .leftsidetabs{
    float: left;
    width: 110%;
    height: 500px;
    text-align: justify;
  }

  .leftsidetabs button {
    background-color: inherit;
    float: justify;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 15px;
    font-weight: bolder;
    color:blue
  }

  .leftsidetabscontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    text-align: right
  }

  .leftsidetabs button:hover {
    background-color: #ddd;
  }

  .rightside h1 {
    font-size: 15px;
    color:maroon;
    text-align: center;
  }


  .footer {
  /*  padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: #ddd; /* Grey background */
  }

.footer h1{
    text-align: left;
    font-size: 15px;
}

.ftab1 button{
    float: left;
}

.ftab2 button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 10px;
    color: black;  }